<div class="box">
  <ul>
    <a href="https://github.com/PawelSwiatlon" target="_blank" rel="noopener">
    <li>
        <img src="../../assets/img/cat.svg" alt="Loading img...">
      </li>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100011730855258" target="_blank" rel="noopener">
    <li>
        <img src="../../assets/img/facebook.svg" alt="Loading img...">
      </li>
    </a>
    <a href="https://www.instagram.com/pswiatlon/" target="_blank" rel="noopener">
    <li>
        <img src="../../assets/img/instagram.svg" alt="Loading img...">
      </li>
    </a>
  </ul>
  <h1>Contact to Me</h1>
  <p>pswiatlon02@gmail.com</p>
  <h4>Copyright ©2020</h4>
</div>
