<div class="box">
  <div class="logo">
    <p>Paweł Światłoń</p>
  </div>
  <div class="nav"
       [class]="showMenu? 'closeMenu':''"
       (click)="showMenu = !showMenu">
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="nav_items" [class]="showMenu? 'showMenu':''">
    <div class="nav_item">
      <p routerLink="home"
         routerLinkActive="active"
         (click)="showMenu = !showMenu">
        Home
      </p>
    </div>
    <div class="nav_item">
      <p routerLink="resume"
         routerLinkActive="active"
         (click)="showMenu = !showMenu">
        About Me
      </p>
    </div>
    <div class="nav_item">
      <p routerLink="service"
         routerLinkActive="active"
         (click)="showMenu = !showMenu">
        Service
      </p>
    </div>
    <div class="nav_item">
      <p routerLink="portfolio"
         routerLinkActive="active"
         (click)="showMenu = !showMenu">
        Portfolio
      </p>
    </div>
    <div class="nav_item">
      <p routerLink="contact"
         routerLinkActive="active"
         (click)="showMenu = !showMenu">
        Contact
      </p>
    </div>
  </div>
</div>
