<div class="box">
  <div class="info">
    <h1>Checkout a few of my works</h1>
  </div>
  <div class="works">
    <div class="work_box">
      <img src="../../assets/img/portfolio.png" alt="Loadding img...">
      <div class="work_info">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempore unde accusamus quaerat dolore explicabo nam nostrum et quia voluptatibus tenetur temporibus eos reprehenderit, eius impedit fugit ex molestias laborum!</p>
        <a>View Project</a>
      </div>
    </div>
    <div class="work_box">
      <img src="../../assets/img/weatherApp.png" alt="Loadding img...">
      <div class="work_info">
        <h1>Weather App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempore unde accusamus quaerat dolore explicabo nam nostrum et quia voluptatibus tenetur temporibus eos reprehenderit, eius impedit fugit ex molestias laborum!</p>
        <a>View Project</a>
      </div>
    </div>
  </div>
</div>
