<div class="box">
  <img class="prof" src="../../assets/img/me.jpg" alt="Loading img..."/>
  <div class="about">
    <h1>Hi! I'm Paweł Ś.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet impedit sequi obcaecati perspiciatis neque expedita ipsum modi dignissimos nam optio. Facilis repudiandae possimus excepturi praesentium eligendi autem in nam. Quas.</p>
    <p>Checkout my resume</p>
    <ul>
      <a href="https://github.com/PawelSwiatlon" target="_blank" rel="noopener">
      <li>
          <img src="../../assets/img/cat.svg" alt="Loading img...">
        </li>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100011730855258" target="_blank" rel="noopener">
      <li>
          <img src="../../assets/img/facebook.svg" alt="Loading img...">
        </li>
      </a>
      <a href="https://www.instagram.com/pswiatlon/" target="_blank" rel="noopener">
      <li>
          <img src="../../assets/img/instagram.svg" alt="Loading img...">
        </li>
      </a>
    </ul>
  </div>
</div>
