* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}
.box_home {
  width: 100%;
  height: 100vh;
  padding-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/img/bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px 2px inset black;
}
.box_home h3, .box_home h1, .box_home p {
  text-transform: uppercase;
  transition: 0.3s linear;
  color: #707070;
}
.box_home h3 {
  font-weight: 300;
  font-size: 2vw;
}
.box_home h1 {
  font-weight: 700;
  font-size: 4vw;
  position: relative;
  padding: 0 0.5vw;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: -0.2vw -0.2vw 0px #007bff;
}
.box_home p {
  font-size: 1vw;
}
.box_home h1::before {
  left: 0;
  top: 0;
  border-top: 0.2vw;
  border-left: 0.2vw;
  border-bottom: 0;
  border-right: 0;
}
.box_home h1::after {
  right: 0;
  bottom: 0;
  border-top: 0;
  border-left: 0;
  border-bottom: 0.2vw;
  border-right: 0.2vw;
}
.box_home h1::before, .box_home h1::after {
  content: "";
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-color: #007bff;
  border-style: solid;
  transition: 0.5s linear;
}
@media only screen and (max-width: 768px) {
  .box_home h3 {
    font-size: 4vw;
  }
  .box_home h1 {
    font-size: 5vw;
  }
  .box_home p {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 425px) {
  .box_home h3 {
    font-size: 6vw;
  }
  .box_home h1 {
    font-size: 8vw;
  }
  .box_home p {
    font-size: 2.5vw;
  }
}
